{% extends 'django_project/base.html' %}

{% load static %}

{% block content %}
  <div class="row main">
    <div class="col-lg-6 col-xl-4 offset-lg-3 offset-xl-4">
      <h3>You Should Be Good</h3>
      <div class="card">
        <p>
          We've emailed you instructions for setting your password, if an account exists with the email you entered.
          You should receive them shortly.
        </p>
        <p>
          If you don't receive an email, please make sure you've entered the address you registered with,
          and check your spam folder.
        </p>
      </div>
      <br>
      <h3>Still need help?</h3>
      <button type="button" class="btn btn-primary action-link" href="https://thepasslock.com/contact/">Contact Us</button>
    </div>
  </div>
{% endblock %}


{% block js %}
  <script src="{% static 'django_project/js/hide-add-password.js' %}"></script>
{% endblock js %}
