{% load static %}
<div class="modal" id="add-password-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal body -->
      <div class="modal-body">
        <h3>New Password <button type="button" class="close" data-dismiss="modal">&times;</button></h3>
        <form action="{% url 'passwords:store_password' %}" method="POST" id="add-Password">
          {% csrf_token %}
          <h6>Password Name</h6>
            <input type="text" name="name" required id="id_name">


            <h6>Username (optional)</h6>
            <input type="text" name="username" maxlength="100" id="id_username">


            <h6>Password to Store</h6>
            <input type="text" name="hashed_password" required id="id_hashed_password">


            <h6>Instant unlock enabled</h6>
            <input class="move-left" type="checkbox" name="instant_unlock_enabled" id="id_instant_unlock_enabled">
            <img id="instant-unlock-question" class="move-left" src="{% static 'django_project/images/help-circle.svg' %}" data-toggle="tooltip" title="Passwords can be retrieved instantly for $20, this is an emergency feature in case you need a password instantly. You can disable it below.">

            <h6>Password Retrieval Time</h6>
            <select name="challenge_time" id="id_challenge_time">
              <option value="5">5 minutes</option>
              <option value="10">10 minutes</option>
              <option value="15" selected>15 minutes</option>
              <option value="20">20 minutes</option>
              <option value="25">25 minutes</option>
              <option value="30">30 minutes</option>
              <option value="35">35 minutes</option>
              <option value="40">40 minutes</option>
              <option value="45">45 minutes</option>
              <option value="50">50 minutes</option>
              <option value="55">55 minutes</option>
              <option value="60">60 minutes</option>
            </select>
            <img src="{% static 'django_project/images/help-circle.svg' %}" data-toggle="tooltip" title="Estimated time to complete the challenge and retrieve this password">
            <br><br>
            <button type="submit" class="btn btn-primary modal-btn">Save Password</button>
        </form>
      </div>

    </div>
  </div>
</div>

  <script src="{% static 'django_project/js/add-password-modal.js' %}"></script>
{% if show_errors %}
  <script src="{% static 'django_project/js/password-modal.js' %}"></script>
{% endif %}
