{% extends 'django_project/base.html' %}

{% load static %}

{% block content %}
<link href="{% static 'passwords/css/subscribe.css' %}" rel="stylesheet">

  <div class="col-lg-4 offset-lg-4 passwords-container main">
    <h3 class="text-center">Password Details</h3>
    <div class="card">
      <form id="profile_update_form" method="post">
        {% csrf_token %}
        <h6>Name</h6>
        <input type="text" name="name" required id="id_name" value="{{object.get_name}}">
        <h6>Instant unlock enabled</h6>
        {% if object.instant_unlock_enabled %}
          <input class="move-left" type="checkbox" name="instant_unlock_enabled" id="id_instant_unlock_enabled" checked>
        {% else %}
          <input class="move-left" type="checkbox" name="instant_unlock_enabled" id="id_instant_unlock_enabled">
        {% endif %}
        <img id="instant-unlock-question" class="move-left" src="{% static 'django_project/images/help-circle.svg' %}" data-toggle="tooltip" title="Passwords can be retrieved instantly for $20, this is an emergency feature in case you need a password instantly. You can enable/disable it below.">

        <button type="submit" class="btn btn-primary col-12 submit">Save Changes</button>
      </form>
    </div>
  </div>
{% endblock content %}

{% block js %}
  <script src="{% static 'django_project/js/hide-add-password.js' %}"></script>
{% endblock js %}
