{% extends 'django_project/base.html' %}

{% load static %}

{% block content %}
<link href="{% static 'passwords/css/password-delete.css' %}" rel="stylesheet">
<link href="{% static 'passwords/css/homepage.css' %}" rel="stylesheet">

<div class="row passwords-container main delete-container">
    <div class="col-lg-4 offset-lg-4">
      <h3 class="text-center">Delete a Password</h3>
      <div class="card">
        <form method="post">{% csrf_token %}
            <p class="text-center white">Are you sure you want to delete<br>"{{ object.get_name }}"</p>
            <p class="text-center white"><img src="{% static 'django_project/images/alert-circle.svg' %}" class="circle-img"> This cannot be undone.</p>
            <br>
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-danger col-12 action-link" href="/">Cancel</button>
              </div>
              <div class="col">
                <button type="submit" class="btn btn-primary col-12" data-toggle="tooltip" title="WARNING: This cannot be undone!">Delete Password</button>
              </div>
            </div>
        </form>
      </div>
    </div>
</div>
{% endblock content %}

{% block js %}
  <script src="{% static 'django_project/js/hide-add-password.js' %}"></script>
{% endblock js %}
