{% extends 'django_project/base.html' %}

{% load static %}

{% block content %}
  <div class="col-lg-4 offset-lg-4 passwords-container main">
    <h3 class="text-center">Password Details</h3>
    <div class="card">
      <form id="profile_update_form" method="post">
        {% csrf_token %}
        <h6>Name</h6>
        <input type="text" name="name" required id="id_name" value="{{object.get_name}}">
        <button type="submit" class="btn btn-primary col-12 submit">Save Changes</button>
      </form>
    </div>
  </div>
{% endblock content %}

{% block js %}
  <script src="{% static 'django_project/js/hide-add-password.js' %}"></script>
{% endblock js %}
