{% extends 'django_project/base.html' %}

{% load static %}

{% block content %}
<link href="{% static 'passwords/css/unlocked-password.css' %}" rel="stylesheet">
<script src="{% static 'django_project/js/stop-recording.js' %}"></script>

<!-- main page row -->
<div class="alert alert-danger">
  DO NOT REFRESH THIS PAGE, OR YOUR ACCOUNT WILL BE DOUBLE CHARGED!
</div>
<div class="row passwords-container main">
    <div class="col-lg-4 offset-lg-4">
      <h3 class="text-center">Instant Unlocked Information</h3>
      <div class="card">
        <div class="row">
          <div class="col">
            <h6>Password Name</h6>
          </div>
          <div class="col">
            <p>{{ password.get_name }}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col">
            <h6>Associated Username</h6>
          </div>
          <div class="col">
            <p>{{ password.get_username }}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col">
            <h6>The Password</h6>
          </div>
          <div class="col">
            <p>{{ password.get_password }}</p>
          </div>
        </div>
      </div>
    </div>
</div>
<!--  End main page row -->
{% endblock content %}
